/Frontend/war/WEB-INF/deploy
/Frontend/war/frontend
/Frontend/war/admin
/Frontend/gwt-unitCache
/Frontend/war/voteapp
/Frontend/.settings/org.eclipse.ltk.core.refactoring.prefs
/doku/MWB/*.aux
/doku/MWB/*.bcf
/doku/MWB/*.out
/doku/MWB/*.toc
/doku/MWB/Ausarbeitung.pdf
/doku/MWB/Ausarbeitung.run.xml
/doku/MWB/Ausarbeitung.synctex.gz
/Deployd Backend/drunkenJukebox/.dpd/pids/mongod
/Deployd Backend/drunkenJukebox/data/mongod.lock
