<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>rest</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Admin interface</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Administrator</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Player interface</web-resource-name>
			<url-pattern>/player/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Player</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Party interface</web-resource-name>
			<url-pattern>/party/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>PartyPeople</role-name>
		</auth-constraint>
	</security-constraint>

	<security-role>
		<role-name>Administrator</role-name>
	</security-role>
	
	<security-role>
		<role-name>Player</role-name>
	</security-role>
	
	<security-role>
		<role-name>PartyPeople</role-name>
	</security-role>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>default</realm-name>
	</login-config>

</web-app>